{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="justify-content-center text-center">
        <h2>User Age Distribution</h2>
        <canvas id="ageChart"></canvas> 
        
        <div class="text-center mt-4">
            <a href="{% url 'users' %}" class="btn btn-primary">Users List</a>
        </div>

        <!-- Card for Mean, Median, Mode -->
        <div class="row mt-5">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Age Mean</h5>
                        <p class="card-text fs-4">{{ mean }}</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Age Median</h5>
                        <p class="card-text fs-4">{{ median }}</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Age Mode</h5>
                        <p class="card-text fs-4">{{ mode }}</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


       

    <style>
        #ageChart {
            max-width: 600px;
            height: 400px !important;
            display: block;
            margin: 0 auto;
        }
    </style>


    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
      const labels = JSON.parse('{{ age_labels|escapejs }}');
      const data = JSON.parse('{{ age_data|escapejs }}');

      const ctx = document.getElementById('ageChart').getContext('2d');

      new Chart(ctx, {
        type: 'bar', 
        data: {
          labels: labels, 
          datasets: [{
            label: 'Number of Users by Age Group',
            data: data,  
            backgroundColor: 'rgba(54, 162, 235, 0.5)', 
            borderColor: 'rgba(54, 162, 235, 1)', 
            borderWidth: 1
          }]
        },
        options: {
          responsive: true,
          scales: {
            y: {
              beginAtZero: true,
              title: { display: true, text: 'Number of Users' }
            },
            x: {
              title: { display: true, text: 'Age Group' }
            }
          }
        }
      });
    </script>
    
{% endblock %}
